@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:wght@700&family=Roboto:wght@400;500;700&family=Seymour+One&display=swap');

body {
  // background-color: $background-main;
  color: $font-main-color;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.04em;
  margin: 0;
  &.is-left {
    overflow: hidden;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section__title {
  color: $font-secondary-black;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
  }

  &--white {
    color: $font-main-color;
  }
}

.arrow {
  color: inherit;
  margin-left: 15px;
}
