// breakpoints
$min1200: 1200px;
$max1200: 1199px;

$min768: 768px;
$max768: 767px;

$min425: 480px;
$max425: 480px;

$min320: 320px;
$max320: 319px;

// COLORS
//font
$font-main-color: #fcfcfc;
$font-secondary-color: #131313;
$font-secondary-black: #000000;
$font-brown: #d6936d;
$font-grey: #ababab;

// bg
$background-main: #84a178;
$background-secondary: #ffffff;

//btn
$btn-primary: #f8d24e;
$btn-focus: #0a8817;
$btn-active: #ababab;
