<section class="section advantages" id="advantages">
  <div class="conteiner">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__item--cow">
        <p class="advantages__numb">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--weight">
        <p class="advantages__numb">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--ice">
        <p class="advantages__numb">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
