<section class="section contacts">
  <div class="conteiner">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list" id="contacts">
      <li class="contacts__item" data-aos="flip-left">
        <span class="contacts__agency">CAFE</span>
        <div class="contacts__wrap">
          <p class="contacts__text contact__text--margin-bottom">Chicago</p>
          <a
            class="contacts__text contacts__text--orange"
            href="https://goo.gl/maps/Sr6wJTujQMi4sHAw6"
            target="_blank"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </div>

        <ul class="contacts-schedule__list list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__info list">
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item" data-aos="flip-left">
        <span class="contacts__agency contacts__agency--width">FOODTRUCK</span>
        <div class="contacts__wrap">
          <p class="contacts__text contact__text--margin-bottom">Los Angeles</p>
          <a
            class="contacts__text contacts__text--orange"
            href="https://goo.gl/maps/S9eT2J8HoJnouCbe8"
            target="_blank"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </div>

        <ul class="contacts-schedule__list list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__info list">
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item" data-aos="flip-left">
        <span class="contacts__agency">CAFE</span>
        <div class="contacts__wrap">
          <p class="contacts__text contact__text--margin-bottom">New York</p>
          <a
            class="contacts__text contacts__text--orange"
            href="https://goo.gl/maps/AkEMhmayNxs9Tnnp8"
            target="_blank"
          >
            1726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </div>

        <ul class="contacts-schedule__list list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__text">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__info list">
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="list">
            <a
              class="contacts__text contacts__text--orange link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__wrapper">
      <button
        class="button contacts--button"
        type="button"
        data-action="modal-open-address"
        id="btn-map"
      >
        Our Locations
        <svg class="button__icon" width="20" height="20">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </button>

      <button
        class="button-transp contacts__button-transp"
        type="button"
        data-action="modal-open-franchise"
      >
        Franchise
        <svg class="button__icon" width="20" height="20">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
