<div class="wrapper">
  <section class="section" id="gallery">
    <div class="conteiner">
      <h2 class="visually-hidden">Gallery</h2>

      <div class="swiper1" data-aos="fade-up">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/brooke-desk@1x.jpg 1x,
                  ./images/brooke-desk@2x.jpg 2x,
                  ./images/brooke-desk@3x.jpg 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/brooke-tab@1x.jpg 1x,
                  ./images/brooke-tab@2x.jpg 2x,
                  ./images/brooke-tab@3x.jpg 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/brooke-mob@1x.jpg 1x,
                  ./images/brooke-mob@2x.jpg 2x,
                  ./images/brooke-mob@3x.jpg 3x
                "
                media="(min-width:320px)"
              />
              <img
                class="gallery__img"
                src="./images/brooke-mob@1x.jpg"
                alt="Ice cream"
                width="1013"
                height="422"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/kenta-kikuchi-desk@1x.jpg 1x,
                  ./images/kenta-kikuchi-desk@2x.jpg 2x,
                  ./images/kenta-kikuchi-desk@3x.jpg 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/kenta-kikuchi-tab@1x.jpg 1x,
                  ./images/kenta-kikuchi-tab@2x.jpg 2x,
                  ./images/kenta-kikuchi-tab@3x.jpg 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/kenta-kikuchi-mob@1x.jpg 1x,
                  ./images/kenta-kikuchi-mob@2x.jpg 2x,
                  ./images/kenta-kikuchi-mob@3x.jpg 3x
                "
                media="(min-width:320px)"
              />
              <img
                src="./images/kenta-kikuchi-mob@1x.jpg"
                alt="Ice cream"
                width="1013"
                height="422"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/nas-mato-desk@1x.jpg 1x,
                  ./images/nas-mato-desk@2x.jpg 2x,
                  ./images/nas-mato-desk@3x.jpg 3x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/nas-mato-tab@1x.jpg 1x,
                  ./images/nas-mato-tab@2x.jpg 2x,
                  ./images/nas-mato-tab@3x.jpg 3x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/nas-mato-mob@1x.jpg 1x,
                  ./images/nas-mato-mob@2x.jpg 2x,
                  ./images/nas-mato-mob@3x.jpg 3x
                "
                media="(min-width:320px)"
              />
              <img
                src="./images/nas-mato-mob@1x.jpg"
                alt="Ice cream"
                width="1013"
                height="422"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>
  <section class="section reviews-section" id="reviews">
    <div class="conteiner">
      <h2 class="visually-hidden">Reviews</h2>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <div class="review__photo">
              <img
                src="./images/emily_photo.jpg"
                alt="Emily"
                width="85"
                height="85"
              />
            </div>
            <div class="review__conteiner">
              <blockquote>
                <p class="review__text">
                  I love visiting your cafe. You prepare the most delicious ice
                  cream in Los Angeles! In addition, you have beautiful serving,
                  cozy atmosphere and polite staff.
                </p>
              </blockquote>
            </div>
            <p class="review__name">Emily, Los Angeles</p>
          </div>
          <div class="swiper-slide">
            <div class="review__photo">
              <img
                src="./images/emily_photo.jpg"
                alt="Emily"
                width="85"
                height="85"
              />
            </div>
            <div class="review__conteiner">
              <blockquote>
                <p class="review__text">
                  I love visiting your cafe. You prepare the most delicious ice
                  cream in Los Angeles! In addition, you have beautiful serving,
                  cozy atmosphere and polite staff.
                </p>
              </blockquote>
            </div>
            <p class="review__name">Emily, Los Angeles</p>
          </div>
          <div class="swiper-slide">
            <div class="review__photo">
              <img
                src="./images/emily_photo.jpg"
                alt="Emily"
                width="85"
                height="85"
              />
            </div>
            <div class="review__conteiner">
              <blockquote>
                <p class="review__text">
                  I love visiting your cafe. You prepare the most delicious ice
                  cream in Los Angeles! In addition, you have beautiful serving,
                  cozy atmosphere and polite staff.
                </p>
              </blockquote>
            </div>
            <p class="review__name">Emily, Los Angeles</p>
          </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</div>
