<section class="hero">
  <div class="hero__container conteiner">
    <div class="hero-wrapper">
      <h1 class="hero__title">ice cream made with passion</h1>
      <ul class="btn-list list">
        <li class="btn-list__item">
          <a class="btn-hero link" href="./index.html#products">Products</a>
        </li>
        <li class="btn-list__item">
          <a class="btn-hero btn-hero--none-border link" href="./index.html#about"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero__cap-wrapper">
        <picture>
          <source
            srcset="
              ./images/main/hero/tablet/cap.png    152w,
              ./images/main/hero/tablet/cap@2x.png 304w,
              ./images/main/hero/tablet/cap@3x.png 456w
            "
            media="(min-width:768px) and (max-width:1199px)"
            type="image/png"
            sizes="(min-width:768px) and (max-width:1199px) 152px, 100vw"
          />
          <source
          srcset="
            ./images/main/hero/desktop/cap.png     225w,
            ./images/main/hero/desktop/cap@2x.png  450w,
            ./images/main/hero/desktop/cap@3x.png 675w
          "
          media="(min-width:1200px)"
          type="image/png"
          sizes="(min-width:1200px) 225px, 100vw"
        />
          <img
            class="hero__img-cap"
            src="./images/main/hero/tablet/shadow.png"
            alt="cap"
          />
        </picture>
        <p class="hero__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
      <!-- shadow -->
      <picture>
        <source
          srcset="
            ./images/main/hero/mobile/shadow.png    276w,
            ./images/main/hero/mobile/shadow@2x.png 551w,
            ./images/main/hero/mobile/shadow@3x.png 826w
          "
          media="(max-width:767px)"
          type="image/png"
          sizes="(max-width: 767px) 276px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/tablet/shadow.png     379w,
            ./images/main/hero/tablet/shadow@2x.png  757w,
            ./images/main/hero/tablet/shadow@3x.png 1135w
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/png"
          sizes="(min-width:768px) and (max-width:1199px) 379px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/desktop/shadow.png     642w,
            ./images/main/hero/desktop/shadow@2x.png 1284w,
            ./images/main/hero/desktop/shadow@3x.png 1926w
          "
          media="(min-width:1200px)"
          type="image/png"
          sizes="(min-width:1200px) 642px, 100vw"
        />
        <img
          class="hero__img-shadow"
          src="./images/main/hero/mobile/shadow.png"
          alt="shadow"
        />
      </picture>
      <!-- dots -->
      <picture>
        <source
          srcset="
            ./images/main/hero/mobile/dots.png    319w,
            ./images/main/hero/mobile/dots@2x.png 638w,
            ./images/main/hero/mobile/dots@3x.png 955w
          "
          media="(max-width:767px)"
          type="image/png"
          sizes="(max-width: 767px) 319px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/tablet/dots.png     768w,
            ./images/main/hero/tablet/dots@2x.png 1535w,
            ./images/main/hero/tablet/dots@3x.png 2302w
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/png"
          sizes="(min-width:768px) and (max-width:1199px) 768px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/desktop/dots.png    1199w,
            ./images/main/hero/desktop/dots@2x.png 2398w,
            ./images/main/hero/desktop/dots@3x.png 3597w
          "
          media="(min-width:1200px)"
          type="image/png"
          sizes="(min-width:1200px) 1199px, 100vw"
        />
        <img
          class="hero__img-dots"
          src="./images/main/hero/mobile/dots.png"
          alt="dots"
        />
      </picture>
      <!-- icecream -->
      <picture>
        <source
          srcset="
            ./images/main/hero/mobile/icecream.png    160w,
            ./images/main/hero/mobile/icecream@2x.png 320w,
            ./images/main/hero/mobile/icecream@3x.png 480w
          "
          media="(max-width:767px)"
          type="image/png"
          sizes="(max-width: 767px) 160px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/tablet/icecream.png    254w,
            ./images/main/hero/tablet/icecream@2x.png 508w,
            ./images/main/hero/tablet/icecream@3x.png 762w
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/png"
          sizes="(min-width:768px) and (max-width:1199px) 254px, 100vw"
        />
        <source
          srcset="
            ./images/main/hero/desktop/icecream.png     456w,
            ./images/main/hero/desktop/icecream@2x.png  911w,
            ./images/main/hero/desktop/icecream@3x.png 1366w
          "
          media="(min-width:1200px)"
          type="image/png"
          sizes="(min-width:1200px) 456px, 100vw"
        />
        <img
          class="hero__img-icecream"
          src="./images/main/hero/mobile/icecream.png"
          alt="icecrem-mobile"
        />
      </picture>
    </div>
    <div class="wrapper-cafe">
      <p class="wrapper-cafe__item">
        <span class="wrapper-cafe__inch">16</span>
        <span class="wrapper-cafe__name">cafes</span>
      </p>
      <p class="wrapper-cafe__item">
        <span class="wrapper-cafe__inch">24</span>
        <span class="wrapper-cafe__name">food trucks</span>
      </p>
    </div>
  </div>
</section>
