<section class="section products" id="products">
  <div class="conteiner">
    <div class="products__title-group">
      <p class="products__paragraph">100% natural</p>
      <h2 class="section__title products__title">products</h2>
    </div>
    <ul class="card-set list">
      <li class="card-set__item card-set__item--first" id="card">
        <div class="card__face card__face--front">
          <h3 class="card-set__title">ice cream</h3>
          <p class="card-set__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button
            class="card-set__btn card-set__btn--front"
            id="card-btn"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="card__face card__face--back">
          <h3 class="card-set__title">About</h3>
          <p class="card-set__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
            repudiandae.
          </p>
          <button
            class="card-set__btn card-set__btn--back"
            id="card-btn-off"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card-set__item card-set__item--second" id="card2">
        <div class="card__face card__face--front">
          <h3 class="card-set__title">ice coffee</h3>
          <p class="card-set__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            class="card-set__btn card-set__btn--front"
            id="card2-btn"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="card__face card__face--back">
          <h3 class="card-set__title">About</h3>
          <p class="card-set__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
            quo?
          </p>
          <button
            class="card-set__btn card-set__btn--back"
            id="card2-btn-off"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card-set__item card-set__item--third" id="card3">
        <div class="card__face card__face--front">
          <h3 class="card-set__title">milkshakes</h3>
          <p class="card-set__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            class="card-set__btn card-set__btn--front"
            id="card3-btn"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="card__face card__face--back">
          <h3 class="card-set__title">About</h3>
          <p class="card-set__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi,
            nihil!
          </p>
          <button
            class="card-set__btn card-set__btn--back"
            id="card3-btn-off"
            type="button"
          >
            <svg class="card-set__icon" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
