<section class="section products" id="products">
  <div class="conteiner">
    <hgroup class="products__title-group">
      <p class="products__paragraph">100% natural</p>
      <h2 class="section__title products__title">products</h2>
    </hgroup>
    <ul class="card-set">
      <li class="card-set__item card-set__item--first">
        <h3 class="card-set__title">ice cream</h3>
        <p class="card-set__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <svg class="card-set__icon">
          <use href="../images/sprite.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="card-set__item card-set__item--second">
        <h3 class="card-set__title">ice coffee</h3>
        <p class="card-set__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <svg class="card-set__icon">
          <use href="../images/sprite.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="card-set__item card-set__item--third">
        <h3 class="card-set__title">milkshakes</h3>
        <p class="card-set__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <svg class="card-set__icon">
          <use href="../images/sprite.svg#icon-arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
