<section class="section products" id="products">
  <div class="conteiner">
    <hgroup class="products__title-group">
      <p class="products__paragraph">100% natural</p>
      <h2 class="section__title products__title">products</h2>
    </hgroup>
    <ul class="card-set list">
      <li class="card-set__item card-set__item--first card-set__front">
        <h3 class="card-set__title">ice cream</h3>
        <p class="card-set__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="card-set__btn" type="button">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <!-- <li class="card-set__item card-set__item--first card-set__back">
        <h3 class="card-set__title">About</h3>
        <p class="card-set__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
          repudiandae.
        </p>
        <button class="card-set__btn" type="button">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li> -->
      <li class="card-set__item card-set__item--second card-set__front">
        <h3 class="card-set__title">ice coffee</h3>
        <p class="card-set__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="card-set__btn">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <!-- <li class="card-set__item card-set__item--second card-set__back">
        <h3 class="card-set__title">About</h3>
        <p class="card-set__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
          quo?
        </p>
        <button class="card-set__btn">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li> -->
      <li class="card-set__item card-set__item--third card-set__front">
        <h3 class="card-set__title">milkshakes</h3>
        <p class="card-set__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="card-set__btn">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <!-- <li class="card-set__item card-set__item--third card-set__back">
        <h3 class="card-set__title">About</h3>
        <p class="card-set__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi,
          nihil!
        </p>
        <button class="card-set__btn">
          <svg class="card-set__icon" width="41" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li> -->
    </ul>
  </div>
</section>
