.overlay {
  visibility: hidden;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.active,

.overlay.active{
  position: fixed;
   opacity: 1;
   visibility: visible;
}

