.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 42px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;

  background-color: $btn-primary;
  color: $font-secondary-black;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;

  border-radius: 10px;
  border: 2px solid $btn-primary;

  transition: 250ms linear;

  &:hover {
    background-color: $btn-focus;
    border: 2px solid $btn-focus;
  }

  &:active {
    background-color: $btn-active;
    border: 2px solid $btn-active;
  }

  &--small {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    min-width: 161px;
    min-height: 49px;
  }

  &--medium {
    min-width: 168px;
  }

  &--large {
    font-weight: 700;
    line-height: 1.14;
    min-width: 176px;
  }
}

.button-transp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 62px;
  min-height: 24px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;

  background-color: transparent;
  color: $font-secondary-black;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;

  border-radius: 10px;
  border: 2px solid $btn-primary;

  transition: 250ms linear;

  &:hover {
    border: 2px solid $btn-focus;
  }

  &:active {
    border: 2px solid $btn-active;
  }

  &--medium {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    min-width: 138px;
    min-height: 42px;
  }

  &--large {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    min-width: 161px;
    min-height: 50px;
  }
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    margin-left: 2px;
  }
}

.btn-hero {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.125;
  color: $font-secondary-black;
  border: 2px solid $btn-primary;
  border-radius: 10px;

  transition: 250ms linear;

  &:hover,
  &:focus {
    border: 2px solid $btn-focus;
  }

  &:active {
    border: 2px solid $btn-active;
  }

  &--none-border {
    border: none;
    color: $btn-primary;
    transition: 250ms linear;
    &:hover,
    &:focus {
      color: $btn-focus;
      border: none;
    }

    &:active {
      color: $btn-active;
      border: none;
    }
  }
  @media screen and(min-width:1200px) {
    padding: 12px 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
  }
}
