.footer {
  background-color: $background-main;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $min768) {
    padding-top: 20px;
    padding-bottom: 13px;
  }

  @media screen and (min-width: $min1200) {
    padding-top: 60px;
    padding-bottom: 11px;
  }
}
.footer__box {
  margin-bottom: 40px;
  @media screen and (min-width: $min768) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $min1200) {
    margin-bottom: 54px;
  }
}
.footer__title-group {
  margin-bottom: 40px;

  @media screen and (min-width: $min768) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $min768) and (max-width: $max1200) {
    max-width: 352px;
  }
}
.footer__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;

  @media screen and (min-width: $min768) {
    margin-bottom: 9px;

    font-size: 26px;
  }

  @media screen and (min-width: $min1200) {
    margin-bottom: 14px;

    font-weight: 400;
    font-size: 30px;
  }
}
.footer__title--big {
  margin-bottom: 0;
  font-size: 34px;

  @media screen and (min-width: $min768) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: $min1200) {
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}
.footer__address {
  @media screen and (min-width: $min768) {
    margin-top: 68px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $min1200) {
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
.address__list {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;

  @media screen and (min-width: $min768) and (max-width: $max1200) {
    margin-bottom: 32px;
  }
}
.address__item + .address__item {
  margin-left: 28px;

  @media screen and (min-width: $min768) {
    margin-left: 30px;
  }
}
.address__social-network {
  @extend %flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: $btn-primary;
  transition: 250ms linear;

  @media screen and (min-width: $min1200) {
    width: 34px;
    height: 34px;
  }
}
.address__social-network:hover,
.address__social-network:focus {
  background-color: $btn-focus;
  & .address__icon {
    fill: $font-secondary-color;
  }
}
.address__social-network:active {
  background-color: $btn-active;
}
.address__icon {
  fill: $background-main;
}
.address__caption {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;

  color: $font-secondary-black;

  @media screen and (min-width: $min768) {
    font-size: 14px;
  }

  @media screen and (min-width: $min1200) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.address__phone {
  color: $font-main-color;
  transition: color 250ms linear;
}
.address__phone:hover,
.address__phone:focus {
  color: $btn-focus;
}
.copyright {
  padding-top: 16px;
  border-top: 1px solid #e1e1e1;

  display: flex;
  justify-content: center;

  @media screen and (min-width: $min768) {
    padding-top: 14px;
  }
}
.copyright__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  text-align: center;

  color: #7a7a7a;

  @media screen and (max-width: $max768) {
    max-width: 170px;
  }

  @media screen and (min-width: $min1200) {
    font-size: 12px;
  }
}
